body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

main {
    flex: 1 0 auto;
}


nav .brand-logo {
    position: absolute;
    color: white;
    display: inline-block;
    font-size: 1.9rem;
    padding-left: 30px;
    white-space: nowrap;
}


::-moz-placeholder {
    color: black;
    font-size: 1rem;
}

elemento {
    line-height: 40px;
}

.btn-flat {
    box-shadow: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    text-align: center;
}

nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
    display: block;
    font-size: 2rem;
    height: 60px;
    line-height: 35px;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 20px;
}


.input-field input[type=search] + label, .input-field input#loginPassword[type=password] + label {
    left: 1rem;
    top: 0.9rem;
}

.side-nav a.btn-flat {
    color: black;
}

.input-field input[type=search]:focus, .input-field input#loginPassword[type=password]:focus {
    background-color: #bdbdbd;
    border: 0;
    box-shadow: none;
    color: black; }

#login{
    height: 56px;
    line-height: 56px;
}

nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    padding-left: 30px;
}

nav .input-field label i {
    color: black;
    transition: color .3s;
}

.input-field input[type=search]:focus + label i, .input-field input[type=search]:focus ~ .mdi-navigation-close, .input-field input[type=search]:focus ~ .material-icons {
    color: black; }

i.left, i.right {
    float: left;
    margin-right: 15px;
    margin-top: 10.4px;
}

.tabs .tab a {
    color: #64b5f6 ;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

.tabs .tab a:hover {
    color: #1976d2;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #64b5f6;
    will-change: left, right;
}

.tabs .tab.disabled a {
    color: lightgrey;
    cursor: default;
}

.input-field input[type=search], .input-field input#loginPassword[type=password] {
    display: inline-block;
    line-height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
}

nav .input-field {
    height: 64px;
    line-height: 56px;
}

button,
input,
optgroup,
select,
textarea {
    color: black;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

nav .input-field label.active i {
    color: black;
}

nav a {
    color: black;
}

#text2 {
    color: #fff;
    position: absolute;
    top: 60%;
    left: 4%;
    width: 40%;
    opacity: 10;
}

#text1 {
    color: #fff;
    position: absolute;
    top: 10%;
    left: 4%;
    width: 40%;
    opacity: 10;
}

h3 {
    font-size: 2.5rem;
    line-height: 80%;
    margin: 1.46rem 0 1.168rem 0;
}

h5 {
    font-size: 1.40rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
}

.slider .slides li .caption {
    color: #000;
    background-color: rgba(0,0,0,0.3);
}

::-webkit-input-placeholder {
    color: #757575;
}
